.row
  .nine.columns.centered
    %h1.align-center.gutter-bottom-double
      I am Andrew Thorp.
    %p.gutter-bottom-double
      = image_tag "headshot-full-width.png"
    %p
      I grew up in Northern Virginia and now call Lynchburg home. I have been
      working on the web for over 10 years now, and really enjoy keeping up with
      = link_to "open source technologies.", "http://www.thechangelog.com"
      My preferred stack is Ruby (Rails/Sinatra), CoffeeScript and Sass, but
      I really enjoy learning new technologies.
    %p
      I use the following technologies every day, and felt that they
      deserved a shoutout:
      = link_to "macvim,", "#"
      = link_to "tmux,", "#"
      = link_to "solarized,", "#"
      = link_to "iterm2", "#"
      and
      = link_to "another technology.", "#"
