.row
  .five.columns.centered
    %p.align-center
      = image_tag "robot-logo.png", alt: "Andrew Thorp", class: "robot-logo"

.row
  .nine.columns.centered
    %p.align-center.gutter-bottom-double
      I'm
      = link_to "Andrew Thorp.", "/about"
      I am a Christ follower, husband, father,
      = link_to "developer,", "http://www.github.com/andrewpthorp"
      and
      = link_to "sports fanatic.", "/blog/tagged/sports"
      I work at
      = link_to "Pure Charity,", "http://www.purecharity.com"
      and am the managing editor at
      = link_to "The Changelog.", "http://www.thechangelog.com"

.row
  .seven.columns.centered
    = social_navigation(class: "align-center")
