!!! 5
%html{:lang => 'en', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{"http-equiv" => "X-UI-Compatible", :content => 'IE=edge,chrome=1'}
    %meta{:name => 'viewport', :content => 'width=device-width,initial-scale=1'}
    %title Andrew Thorp

    = stylesheet_link_tag "vendor/foundation.css", "vendor/formalize.css", "vendor/icomoon.css", "application.css"
    = javascript_include_tag "jquery.min.js", "handlebars.js", "partymode.js", "view.js"

    %link{:href => 'http://fonts.googleapis.com/css?family=Bitter:400italic,400,700', :rel => 'stylesheet', :type => 'text/css'}

  %body
    = site_navigation

    #main.container
      = yield

      .hide-on-desktops.hide-on-phones.hide-on-tablets
        %p.align-center.gutter-top
          You can
          = link_to "go home,", "/"
          = link_to "find out more about me,", "/about"
          = link_to "read my blog,", "/blog"
          = link_to "view my portfolio", "/portfolio"
          or
          = link_to "checkout my resume.", "/resume"

      .footer_block.make-block

    .container
      .row
        .nine.columns.centered
          %footer#global-footer
            .hide-on-phones
              %p.mute.small.align-center
                Copyright &copy; 2013 Andrew Thorp.
                %span.dark.make-inline-block.gutter-left-half.gutter-right-half.icomoon &#xe049;
                Inspired by
                = link_to "http://wynn.fm.", "http://wynn.fm", target: "_blank"
                &mdash;
                Robot by
                = link_to "Bryce Hewett", "http://brycehewett.com/", target: "_blank"
                %span.dark.make-inline-block.gutter-left-half.gutter-right-half.icomoon &#xe049;
                = link_to "IcoMoon", "http://icomoon.io", target: "_blank"
                &mdash;
                = link_to "Entypo", "http://www.entypo.com/", target: "_blank"
            .hide-on-desktops
              %p.mute.small.align-center
                Copyright &copy; 2013 Andrew Thorp.
