- root_image_url= "https://s3.amazonaws.com/andrewthorp-blog-pro/project-images"

.row
  .large-8.large-centered.columns

    - @projects.each do |project|
      .project
        %h3= link_to project.title, project.url, target: '_blank'
        - unless project.quote.blank?
          %p.pullquote= project.quote
        %p= project.body
        - unless project.image.blank?
          %p= image_tag "#{root_image_url}/#{project.image}", width: 600
