<div class="container centered group main-row">

  <div class="row project group">
    <div class="five columns image hide-on-phones">
      <a href="https://github.com/andrewpthorp/tumbl_rb" class="external" target="_blank"><%= image_tag "projects/github.png" %></a>
    </div>
    <div class="seven columns description">
      <header>
        <h2 class="heading-font">Tumblr API Ruby Gem</h2>
      </header>
      <p>A simple Ruby wrapper for the Tumblr API (v2). It&#39;s a work in progress, and I encourage the community to get involved!</p>
      <a href="https://github.com/andrewpthorp/tumbl_rb" class="external" target="_blank">https://github.com/andrewpthorp/tumbl_rb</a>
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <div class="project-separator"></div>
    </div>
  </div>

  <div class="row project group">
    <div class="five columns image hide-on-phones">
      <a href="https://github.com/andrewpthorp/simple-http-server" class="external" target="_blank"><%= image_tag "projects/github.png" %></a>
    </div>
    <div class="seven columns description">
      <header>
        <h2 class="heading-font">Simple HTTP Server</h2>
      </header>
      <p>A simple web server, built in javascript, distributed as an NPM package, for node.js. At the time of this writing, it will serve up static HTML, CSS, and JS over a specified port. This is similar to the python module SimpleHTTPServer.</p>

      <a href="https://github.com/andrewpthorp/simple-http-server" class="external" target="_blank">https://github.com/andrewpthorp/simple-http-server</a>
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <div class="project-separator"></div>
    </div>
  </div>

  <div class="row project group">
    <div class="five columns image hide-on-phones">
      <a href="http://www.aceofsales.com/" class="external" target="_blank"><%= image_tag "projects/aceofsales.png" %></a>
    </div>
    <div class="seven columns description">
      <header>
        <h2 class="heading-font">Ace of Sales</h2>
      </header>
      <p>Straight from the projects website:</p>
      <p>&quot;Ace of Sales is the golden ticket of selling! Make sales, close deals, and build loyal relationships. Ace of Sales gives you the tools and training to attract, engage, differentiate, thank, stay in touch, and WOW customers. Oh yeah, and make sales!&quot;</p>
      <a href="http://www.aceofsales.com/" class="external" target="_blank">http://www.aceofsales.com/</a>
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <div class="project-separator"></div>
    </div>
  </div>

  <div class="row project group">
    <div class="five columns image hide-on-phones">
      <a href="http://app.wildfirewizard.com/" class="external" target="_blank"><%= image_tag "projects/wildfire.png" %></a>
    </div>
    <div class="seven columns description">
      <header>
        <h2 class="heading-font">Wildfire Wizard</h2>
      </header>
      <p>The Wildfire Wizard is a tool that will help the user improve the safety of their home! After creating a model of the house and answering a few questions, the results will let the user know if they are safe and what updates they can make (as well as how expensive each update will be).</p>
      <a href="http://app.wildfirewizard.com/" class="external" target="_blank">http://app.wildfirewizard.com/</a>
    </div>
  </div>

  <div class="row">
    <div class="ten columns centered">
      <div class="project-separator"></div>
    </div>
  </div>

  <div class="row project group">
    <div class="five columns image hide-on-phones">
      <a href="http://www.andrewthorp.com/" class="external" target="_blank"><%= image_tag "projects/andrewthorp.png" %></a>
    </div>
    <div class="seven columns description">
      <header>
        <h2 class="heading-font">My Personal Website</h2>
      </header>
      <p>I created a personal website so I could have a place to share my thoughts, experience, and life with whoever might be interested.</p>
      <p>On this site you can find a copy of my resume, some ramblings of sports or technology, and some photos of current events in my life.</p>
      <a href="http://www.andrewthorp.com/" class="external" target="_blank">http://www.andrewthorp.com/</a>
    </div>
  </div>
</div>
