<div class="container centered main-row">
  <div class="row">
    <section id="resume">
      <header class="group">
          <h2>Andrew Thorp</h2>
          <h3 class="email"><%= link_to "andrewpthorp@gmail.com", "mailto:andrewpthorp@gmail.com" %></h3>
          <h3 class="website"><%= link_to "www.andrewthorp.com", "http://www.andrewthorp.com", :target => "_blank" %></h3>
          <h3 class="phone">540-905-5078 (m)</h3>
          <h3 class="address-line-one">325 Blackhawke Drive</h3>
          <h3 class="address-line-two">Lynchburg VA, 24502</h3>
      </header>

      <section id="summary">
        <header>
          <h2>Summary:</h2>
        </header>

        <p class="margin-left margin-bottom">I am a full stack web creative with a passion for open source and open technologies. I have helped lead a bootstrapped start-up (<%= link_to "Ace of Sales", "http://www.aceofsales.com/", :target => "_blank" %>) to profitability. I read daily, and currently read anything from <%= link_to "The Pragmatic Bookshelf", "http://www.pragprog.com", :target => "_blank" %> that I can get my hands on.</p>
        <p class="margin-left">I try to keep my portfolio as up to date as possible (no promises). Feel free to <%= link_to "have a look", "/portfolio" %> at your leisure.</p>
      </section>

      <section id="skills">
        <header>
          <h2>Skills:</h2>
        </header>

        <ul class="bullets margin-left">
          <li><strong>Languages:</strong> Ruby, PHP, JavaScript, HTML5, CSS3, Objective-C, C</li>
          <li><strong>Version Control:</strong> git, svn</li>
          <li><strong>Databases:</strong> SQL, MySQL, PostgreSQL</li>
          <li><strong>Servers:</strong> Apache, nginx, pow</li>
          <li><strong>Miscellaneous:</strong> Rails, Sinatra, Node.js (npm), PhoneGap, Titanium, CoffeeScript, SASS, jQuery, Zepto, Backbone.js, Spine.js</li>
        </ul>
      </section>

      <section id="education">
        <header>
          <h2>Education:</h2>
        </header>

        <p class="margin-left"><%= link_to "Liberty University", "http://www.liberty.edu", :target => "_blank" %> <span class="years">(2004 - 2009)</span></p>
        <p class="margin-left"><strong>Received a B.S. in Computer Science</strong></p>
      </section>

      <section id="experience">
        <header>
          <h2>Experience:</h2>
        </header>

        <ul class="bullets margin-left">
          <li>
            <strong>Pure Charity:</strong> Developer <span class="years">(September 2012 - Present)</span>
            <ul class="circles margin-left margin-bottom">
              <li>Front end development with HTML5/CSS3/JavaScript (SASS, HAML, CoffeeScript).</li>
              <li>Back end development with Ruby/Rails.</li>
            </ul>
          </li>
          <li>
            <strong>Polysonics:</strong> Software Developer <span class="years">(November 2011 - September 2012)</span>
            <ul class="circles margin-left margin-bottom">
              <li>Front end interfaces with HTML5/CSS3.</li>
              <li>Back end development with Ruby on Rails, PHP, and Objective-C.</li>
              <li>Interactive elements with Javascript.</li>
              <li>Database schema and queries with MySQL and PostgreSQL.</li>
              <li>Mobile applications with Objective-C and JavaScript libraries.</li>
            </ul>
          </li>
          <li>
            <strong>Ace of Sales:</strong> Lead Developer <span class="years">(September 2008 - November 2011)</span>
            <ul class="circles margin-left margin-bottom">
              <li>Transitioned Gladhandle to Ace of Sales (name and brand change).</li>
              <li>Front end interfaces with HTML5/CSS3.</li>
              <li>Interactive elements with JavaScript.</li>
              <li>Back end development with Ruby on Rails.</li>
              <li>Database schema and queries with MySQL.</li>
            </ul>
          </li>
          <li>
            <strong>Gladhandle:</strong> Lead Developer <span class="years">(March 2007 - September 2008)</span>
            <ul class="circles margin-left margin-bottom">
              <li>Front end interfaces with Adobe Flex.</li>
              <li>Back end development with PHP (SabreAMF).</li>
              <li>Database schema and stored procedures with Microsoft SQL Server.</li>
            </ul>
          </li>
          <li>
            <strong>Green Springs Technologies:</strong> Systems Developer <span class="years">(May 2006 - September 2006)</span>
            <ul class="circles margin-left margin-bottom">
              <li>Installed internal systems, including VoIP and Linux Web Server.</li>
              <li>Developed HTML for dynamic websites.</li>
            </ul>
          </li>
        </ul>
      </section>

      <% if false %>
      <section id="link-to-resume" class="group">
        <button class="download">Download PDF of my resume.</button>
      </section>
      <% end %>
    </section>
  </div>
</div>
