- form_for(project, url, method: method) do |f|

  .row
    .large-12.columns
      = f.text_field :title, placeholder: 'Title'

  .row
    .large-12.columns
      = f.text_field :url, placeholder: 'Link'

  .row
    .large-12.columns
      = f.text_field :quote, placeholder: 'Quote'

  .row
    .large-12.columns
      = f.text_area :body, placeholder: 'Body', value: preserve(f.object.body)

  .row
    .large-12.columns
      = f.text_field :image, placeholder: 'Image (name.png)'

  .row
    .large-12.columns
      = f.check_box :published, class: 'left'
      = f.label :published, caption: 'Publish Project', class: 'left'

  %footer
    .row
      .large-6.columns
        = link_to 'Cancel', '/projects', class: 'button secondary'
      .large-6.columns
        = f.submit 'Save', class: 'button success right'
