.row
  .nine.columns.centered
    .posts
      %h1.gutter-bottom.title
        = link_to "&#xe04a;", "/", class: "no-underline icomoon"
        The Enquirer
        - if session[:admin]
          %ul#admin.align-right.width-25.float-right.hide-on-phones
            %li= link_to "New Post", "/posts/new", class: "make-inline-block"

      - if @posts.any?
        %ul#post-list
          - @posts.each do |p|
            %li
              = link_to p.title, "/posts/#{p.slug}"
      - else
        %p.mute.align-center.gutter-top-double.gutter-bottom-double
          %strong
            The Enquirer
          has no gossip on this subject.
          = link_to "Oh well, take me back.", "/"


      %footer.group
        %ul#tag-list.float-left
          - all_tag_class = (@tag.nil? ? 'current' : '' )
          %li= link_to "All", "/posts", class: "icon-tags make-inline-block #{all_tag_class}"
          - Tag.all.each do |tag|
            - tag_class = (@tag && @tag == tag.name) ? 'current' : ''
            %li= link_to tag.name, "/posts/tagged/#{tag.name}", class: "icon-tags make-inline-block #{tag_class}"
