.row
  .nine.columns.centered
    .post.show
      %h1.gutter-bottom
        New Post

      - form_for(@post, "/blog", method: "post") do |f|
        %p
          = f.label :title
          = f.text_field :title

        %p
          = f.label :body
          = f.text_area :body

        %p
          = f.submit "Save"

