.row
  .nine.columns.centered
    .post.show
      %h1.gutter-bottom.title
        = link_to "&#xe04a;", "/blog", class: "no-underline icomoon"
        = @post.title

      .body
        = @post.pretty_body

      %p.uppercase.mute.medium.bold
        POSTED #{@post.created_at.to_s(:pretty)}
        - @post.tags.each do |t|
          %span.tag.gutter-right-half= link_to t.name, "/blog/tagged/#{t.name}", class: "icon-tags no-underline"

      - if session[:admin]
        %footer.group
          %ul#admin.align-right
            %li= link_to "Edit", "/blog/#{@post.slug}/edit"
            %li= link_to "Delete", "/blog/#{@post.slug}/delete"
